body{
    background: #e2e2e2;
    color: #f00;
}
p{
    font-size: 20px;
    color: blue;
    font-weight: 900;
}
a{
    text-decoration: none;
    background: #fff;
    color: #14b11b;
    border: 1px solid #14b11b;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 25px;
    transition-duration: 0.5s;
}
a:hover{
    background: #14b11b;
    color: #fff;
    transition-duration: 0.5s;
}